.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.figmaPaste {
  display: block;
  position: relative;
  width: 1160px;
  height: 655px;
  flex-shrink: 0;
}
.svg__qpDzt {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
  width: 1160px;
  height: 655px;
  display: block;
  left: 0px;
  top: 0px;
  border-radius: 60px;
}
._1111 {
  background: url("/plasmic/applicant_tracking_system/images/_1111.png") -1px 12px / 579px 773px no-repeat;
  width: 577px;
  height: 655px;
  display: block;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 481.326px;
  height: 362.586px;
  display: block !important;
  left: 23px;
  top: 208px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.svg___2MrBg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ffc93e;
  width: 21px;
  height: 20px;
  display: block;
  left: 646px;
  top: 225px;
}
.text__uqQym {
  display: block;
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 646px;
  top: 133px;
}
.text__odudh {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 646px;
  top: 191px;
}
.text__cWtPa {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 646px;
  top: 309px;
}
.text__bGRj {
  display: block;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  left: 646px;
  top: 343px;
}
.text__iHHs {
  display: block;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  position: absolute;
  left: 646px;
  top: 275px;
}
.text__azspp {
  display: block;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(177, 177, 177, 1);
  position: absolute;
  left: 778px;
  top: 224px;
}
.group1582 {
  width: 168px;
  height: 55px;
  display: block;
  position: absolute;
  left: 829px;
  top: 478px;
}
.rectangle297 {
  background: rgba(0, 144, 255, 1);
  width: 168px;
  height: 55px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
}
.text__n19Rv {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 16px;
  left: 0px;
  width: 138px;
}
.svg__ne0Xp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 21px;
  height: 8px;
  display: block;
  transform-origin: top left;
  top: 27px;
  left: 128px;
}
.group1583 {
  width: 168px;
  height: 55px;
  display: block;
  position: absolute;
  left: 646px;
  top: 478px;
}
.rectangle298 {
  box-shadow: inset 0px 0px 0px 2px rgba(0, 144, 255, 1);
  width: 168px;
  height: 55px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
}
.text__i2VtX {
  display: block;
  font-size: 18px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 144, 255, 1);
  position: absolute;
  top: 16px;
  left: 0px;
  width: 168px;
}
.svg__noY2B {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ffc93e;
  width: 21px;
  height: 20px;
  display: block;
  left: 670px;
  top: 225px;
}
.svg__hClMp {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ffc93e;
  width: 21px;
  height: 20px;
  display: block;
  left: 694px;
  top: 225px;
}
.svg__h6QX3 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ffc93e;
  width: 21px;
  height: 20px;
  display: block;
  left: 718px;
  top: 225px;
}
.svg__wzRdP {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #ffc93e;
  width: 21px;
  height: 20px;
  display: block;
  left: 742px;
  top: 225px;
}
.rectangle299 {
  background: #0090ff;
  width: 577px;
  height: 655px;
  display: block;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
}
