.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__cUqz {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__cUqz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__cUqz > :global(.__wab_flex-container) > *,
.freeBox__cUqz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cUqz > :global(.__wab_flex-container) > picture > img,
.freeBox__cUqz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cUqz {
    padding: 24px;
  }
}
.h4__qPct {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__h20OX {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__h20OX > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__h20OX > :global(.__wab_flex-container) > *,
.freeBox__h20OX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h20OX > :global(.__wab_flex-container) > picture > img,
.freeBox__h20OX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h20OX {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h20OX > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h20OX > :global(.__wab_flex-container) > *,
  .freeBox__h20OX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__h20OX > :global(.__wab_flex-container) > picture > img,
  .freeBox__h20OX
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.metricCard__yqVj:global(.__wab_instance) {
  position: relative;
}
.metricCard___36Hz2:global(.__wab_instance) {
  position: relative;
}
.metricCard__kec9U:global(.__wab_instance) {
  position: relative;
}
.freeBox___62ZQy {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___62ZQy > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox___62ZQy > :global(.__wab_flex-container) > *,
.freeBox___62ZQy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___62ZQy > :global(.__wab_flex-container) > picture > img,
.freeBox___62ZQy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___62ZQy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___62ZQy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___62ZQy > :global(.__wab_flex-container) > *,
  .freeBox___62ZQy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___62ZQy > :global(.__wab_flex-container) > picture > img,
  .freeBox___62ZQy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__pwXcI {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-m0N12peCwBh6);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-lly1av9mgkKU);
}
.freeBox__pwXcI > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pwXcI > :global(.__wab_flex-container) > *,
.freeBox__pwXcI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pwXcI > :global(.__wab_flex-container) > picture > img,
.freeBox__pwXcI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.h4___36BAd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  min-width: 0;
}
.p__vnZa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-AWpvfdelFLHf);
  min-width: 0;
}
.freeBox__c6Kqg {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-m0N12peCwBh6);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-lly1av9mgkKU);
}
.freeBox__c6Kqg > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__c6Kqg > :global(.__wab_flex-container) > *,
.freeBox__c6Kqg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c6Kqg > :global(.__wab_flex-container) > picture > img,
.freeBox__c6Kqg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.h4__x4Rrv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  min-width: 0;
}
.p__dbod7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-AWpvfdelFLHf);
  min-width: 0;
}
.chart__oj8Q7:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__inac5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--token-m0N12peCwBh6);
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-lly1av9mgkKU);
}
.freeBox__inac5 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__inac5 > :global(.__wab_flex-container) > *,
.freeBox__inac5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__inac5 > :global(.__wab_flex-container) > picture > img,
.freeBox__inac5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 8px;
}
.freeBox__s6WHg {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
}
.freeBox__s6WHg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s6WHg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s6WHg > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s6WHg > :global(.__wab_flex-container) > *,
  .freeBox__s6WHg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s6WHg > :global(.__wab_flex-container) > picture > img,
  .freeBox__s6WHg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__ji2JU {
  display: flex;
  flex-direction: column;
}
.freeBox__ji2JU > :global(.__wab_flex-container) {
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ji2JU > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ji2JU > :global(.__wab_flex-container) > *,
  .freeBox__ji2JU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ji2JU > :global(.__wab_flex-container) > picture > img,
  .freeBox__ji2JU
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.h4__jIqil {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 0px;
  min-width: 0;
}
.p__auFc4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-AWpvfdelFLHf);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.positions:global(.__wab_instance) {
  object-fit: cover;
}
